
### VS Code ###
# Ignorar la configuración de VS Code
.vscode/

### Mac OS ###
# Ignorar archivos específicos de Mac OS
.DS_Store


### Metals ###
# Ignorar la carpeta de configuración de Metals
.metals/
