
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### Metals ###
.metals/

### Metals ###
.metals/

### Airflow logs ###

Airflow-Docker/logs/

### Airflow pycache dags ###

Airflow-Docker/__pycache__/